---
---

@import "{{ site.theme }}";

body 
{
  font-family: Helvetica, Verdana, Arial, serif;
  color: #f8f8f8;
}

header {
  font-family: Helvetica, Verdana, Arial, serif;
  background: #787878 url(../../Images/header-bg.jpg) 0 0 repeat-x;
}
