---
---

@import "{{ site.theme }}";

body 
{
  font-family: Helvetica, Verdana, Arial, serif;
  font-size: 13px;
  line-height: 1.5;
  color: #f8f8f8;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Helvetica, Verdana, Arial, serif;
  background: #787878 url(../../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}
