<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to stylesheet(s) -->
			<link rel="stylesheet" type="text/css" href="/css/hiJen14_Main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				{% if {{ site.time | date: "%Y %m %d" }}" ==  "2019"}
              				<li>&copy; 2019 - Jennifer, HiJen14</li>
				{% else %}
					<li>&copy; 2019 - {{ site.time | date: "%Y %m %d" }} Jennifer, HiJen14</li>
				{% endif %}
				</ul>
			</footer>
		</body>
	</html>
